<%- include('partials/head') %>

<body>
	<h1 id='Title'>Random Star Wars characters</h1>
	<section id="details">
		<p id="name">Name: <%- characterData.name %></p>
		<p id="gender">Gender: <%- characterData.gender %></p>
		<p id="mass">Mass: <%- characterData.mass %>KG</p>
		<img src=<%= gifData %> />
		<form action="/randomize" method="GET">
			<input id="RandomButton" type="submit" value="Back">
		</form>
	</section>

	<main></main>

</body>
</html>