<%- include('partials/head') %>

<body>
	<h1 id='Title'>Random Star Wars characters</h1>
	<section id="overview">
		<p><a id="a1" href=<%= '/char/' + characterNames[0] %>><%= characterNames[0] %></a></p>
		<p><a id="a2" href=<%= '/char/' + characterNames[1] %>><%- characterNames[1] %></a></p>
		<p><a id="a3" href=<%= '/char/' + characterNames[2] %>><%- characterNames[2] %></a></p>
		<p><a id="a4" href=<%= '/char/' + characterNames[3] %>><%- characterNames[3] %></a></p>
		<p><a id="a5" href=<%= '/char/' + characterNames[4] %>><%- characterNames[4] %></a></p>
		<p><a id="a6" href=<%= '/char/' + characterNames[5] %>><%- characterNames[5] %></a></p>


		<form action="/randomize" method="GET">
			<input id="RandomButton" type="submit" value="Randomize">
		</form>
	</section>

	<script>
		if ("serviceWorker" in navigator) {
    window.addEventListener("load", () => {
      navigator.serviceWorker.register("serviceWorker.js").then(
        registration => {
          // Registration was successful
          console.log(
            "ServiceWorker registration successful with scope: ",
            registration.scope
          );
          return registration.update();
        },
        err => {
          // registration failed :(
          console.log("ServiceWorker registration failed: ", err);
        }
      );
    });
  }
	</script>
</body>
</html>